<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8 navbar-header">
		        <h4 class="text-center">AngryTenant</h4>
			</div>
			<div class="col-xs-2"><i ng-click="logout()" class="fa fa-sign-out fa-2x icon"></i></div>
		</div>
	</div>
</nav>

<tabset class="tabset">

	<tab heading="Landlord">
		
		<div class="container-fluid">

			<div class="block add-unit">
				<p class="heading"><i class="fa fa-plus"></i>  Add Unit</p>
				<p class="content">Click here to add a new unit.</p>
			</div>

			<div class="block">
				<p class="heading"><i class="fa fa-ticket"></i>  View Tickets</p>
				<p class="content">You currently have 0 open tickets.</p>
			</div>

			<div class="block">
				<p class="heading"><i class="fa fa-building"></i>  View Units</p>
				<p class="content">You currently have 0 units.</p>
			</div>
			
		</div>

	</tab>

	<tab heading="Tenant">
		Tenant
	</tab>

	<tab heading="Admin">
		<ul>
			<li ng-repeat="user in users">{{ user.firstName }} {{ user.lastName }}</li>
		</ul>
	</tab>

</tabset>
